wifi_ssid: "your_wifi_ssid"
wifi_password: "your_wifi_password"
api_encryption_key: "generate_with: esphome -q config generate-api-key"
ota_password: "choose_a_password"
ap_fallback_password: "choose_a_fallback_ap_password"
